@font-face{
    font-family: "Oswald";
    src: url("Oswald-VariableFont_wght.ttf") ;
}

header{

    position:fixed;
    height:100px;
    background: rgb(212,120,71);
    background: linear-gradient(155deg, rgba(212,120,71,1) 0%, rgba(198,80,47,1) 100%); 
    top:0px;
    left:0px;
    right:0px;
    font-size:45px;
    font-family: "Oswald" ;
    text-align:center;
    color:rgb(90, 23, 23);
    -webkit-text-stroke: 0px 0px 2px 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(25, 2, 2); 
    text-shadow: rgb(39, 3, 3) 1px 0 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main {
    background: rgb(212,130,71);
background: linear-gradient(155deg, rgba(212,130,71,1) 0%, rgba(213,147,65,1) 100%); 
    position: fixed;
    top: 100px; 
    bottom: 25px;
    left: 80px; 
    right: 0px;
    overflow: auto; 
    overflow-y: scroll; 
    scrollbar-width:none;
   

}



nav{
    position:fixed;
    left:0px;
    width:80px;
    top:100px;
    background: rgb(212,120,71);
    background: linear-gradient(155deg, rgba(212,120,71,1) 0%, rgba(198,80,47,1) 100%); 
    min-height:60vh;
    bottom:25px;
    z-index: 5;
    transition: all .5s;
    text-align:center;



}

nav:hover{
    width:300px;




}


nav:hover a{
    font-size:30px;
    color:rgb(186, 14, 14);
}

nav a{
    display:block;
    color:rgb(127, 25, 25);
    font-size:10px;
    padding-right:15px;
    padding-top:20px;
    transition:all .7s;
    word-wrap:none;
}

nav a:hover{
    font-size:30px;
    color:rgb(10, 12, 70);
}

footer{
    background: rgb(212,120,71);
    background: linear-gradient(155deg, rgba(212,120,71,1) 0%, rgba(198,80,47,1) 100%); 
    height:25px;
    position:fixed;
    bottom:0px;
    color:rgb(90, 23, 23);
    -webkit-text-stroke: 0px 0px 1px 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(25, 2, 2); 
    background-color: rgb(150, 185, 198);
    font-size: 15px;
    text-align:center;
    left:0px;
    right:0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}



footer p{
    margin-top:5px;

}

h1{
    font-size:45px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height:100px;
    margin:auto;
    margin-top:10px;
    line-height:100px;
    color:rgb(90, 23, 23);
    -webkit-text-stroke: 0px 0px 2px 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(25, 2, 2); 
    text-shadow: rgb(39, 3, 3) 1px 0 2px;
    background-image: url(pteranodon-pterodactyl-dinosaur-on-white-background-png.png);
    background-position:contain;
    background-repeat: repeat-x;
    background-size:100px;




}

h2{
    text-align:center;
    margin-top:35px;
}

.overviewyap{
    width:650px;
    margin:auto;
    margin-top:50px;
    text-align:justify

}



.nc3{
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-top:35px;
    height:400px;
}


.gallery{
    opacity:.2;
    
}